@inherits AppComponentBase

<div class="txt_container">
    <BitTextField Class="txt-style"
                  @bind-Value="@(TextValue)"
                  Label="@(TextLabel)"
                  Placeholder="@(TextPlaceholder)"
                  Type="@(TextType)"
                  CanRevealPassword="@(CanRevealPassword)" ;
                  AutoComplete="current-password">
    </BitTextField>
</div>